<div class="my-2 mx-2 vw-25">
  <div *ngIf="progressSpinnerValue!==0"
       class="d-flex justify-content-center p-3 my-2 mx-2 vw-25">
    <mat-card class="position-relative justify-content-center p-3">
      <mat-card-title>Feierabend:<br> {{feierabendDateString}}</mat-card-title>
      <div *ngIf="Number.parseInt(remaining) <= 12">
        <mat-card-content>
          <div class="position-relative justify-content-center p-3">
            <mat-progress-spinner *ngIf="progressSpinnerValue!==0"
                                  [color]="progressSpinnerColor"
                                  [mode]="progressSpinnerMode"
                                  [value]="progressSpinnerValue"
            >
            </mat-progress-spinner>
            <div class="justify-content-center position-absolute top-50 start-50 translate-middle"
            >{{remaining}}<br>left
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
