<div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
        <mat-form-field class="example-form-field" appearance="fill" (click)="value=''">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="addName(value)">add</button>
        <button mat-raised-button color="secondary" (click)="randomizeMitEntnahme()">randomize</button>
    </div>
    <mat-label>Click to remove</mat-label>
    <div *ngFor="let name of names">
        <mat-card (click)="removeName(name)" class="m-1">
            <mat-card-title>
                {{name}}
            </mat-card-title>
        </mat-card>
    </div>
</div>