<div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </div>
    <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" (click)="addName(value)">add</button>
        <button mat-raised-button class="ms-2">remove</button>
    </div>
    <div *ngFor="let name of names">
        <mat-card class="m-1">
            <mat-card-title>
                {{name}}
            </mat-card-title>
        </mat-card>
    </div>
</div>