<div class="container">
  <div class="s-flex  mb-3">
    <mat-form-field (click)="value=''" (keydown.enter)="addName(value)" appearance="fill"
                    class="example-form-field">
      <mat-label>Text Input</mat-label>
      <input [(ngModel)]="value" matInput type="text">
    </mat-form-field>
    <button (click)="addName(value)" class="d-inline-flex justify-content-start ms-4 me-4" color="accent"
            mat-icon-button
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
