<div class="container">
  <div class="d-flex justify-content-center bd-highlight mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Input for QR-Code generation</mat-label>
      <input [(ngModel)]="value" matInput placeholder="enter text for QR-Code">
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center bd-highlight mb-3">
    <div #qrcElement [class]="cssClass" class="p-3 my-2 mx-2">
    </div>
  </div>
  <div class="d-flex justify-content-center p-3 my-2 mx-2 ">
    <button (click)="generateQROnClick(value)" color="accent" mat-raised-button>
      Generate QR-code
    </button>
  </div>
  <div class="d-flex justify-content-center p-3 my-2 mx-2 ">
    <button (click)="qrcodeService.openNewTabWithQRValue(value)" color="warn"
            mat-raised-button>
      open new tab with QR-code destination
    </button>
  </div>
  <mat-selection-list [multiple]="false">
    <mat-list-option (click)="getItemFromLatest(item)" *ngFor="let item of latest" [value]="item">
      {{item}}
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>
  <button (click)="clearList()" mat-button>
    <mat-icon>delete</mat-icon>
    clear list
  </button>
</div>

