<h1 mat-dialog-title>Click to focus the QR-Code</h1>
<div class="d-flex flex-column " mat-dialog-content>
  <div>
    <video autoplay controls id="myVidPlayer" muted></video>
    <br/>
  </div>
</div>
<div class="d-flex flex-column mt-2 " mat-dialog-content>
  <button (click)="readQRFromVideo()" class="btn btn-info" mat-button>
    Read QR
  </button>
  <br/>
  <button (click)="stopScan()" [disabled]="!scannerStarted" class="btn btn-danger" mat-button>
    stop Scan and open tab
  </button>
  <br/>
</div>
