<div class="d-flex justify-content-center p-3 my-2 mx-2">
  <input #file [multiple]="false" style="display:none" type="file"/>
  <button (click)="qrShareService.openExplorerForfileImport(file)" color="primary" mat-raised-button>
    scan QR-code from Image and show content
  </button>
</div>
<div class="d-flex justify-content-center">
  <div class="justify-content-center p-3 my-2 mx-2 w-75">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of qrShareService.latestScans" [value]="item">
        <mat-list-item (click)="qrShareService.openNewTabWithQRValue(item)" class="text-truncate">
          {{item}}
        </mat-list-item>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
