<div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
        <mat-card class="m-1">
            <mat-card-subtitle (click)="file.click()">
                click to open
            </mat-card-subtitle>
            <mat-card-title>Drag and Drop
                txt-Files here
                <mat-icon><img src="icons8-32.ico" alt="image"></mat-icon>
            </mat-card-title>
            <input type="file" #file [multiple]="false" style="display:none" />
        </mat-card>

    </div>
</div>