<div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
        <mat-card class="m-1">
            <mat-card-subtitle (click)="file.click()">
                click to open
            </mat-card-subtitle>
            <mat-card-title draggable="true" ngClass="{{dragAreaClass}}">Drag and Drop
                <mat-icon><img src="/assets/icons/icons8-32.png" alt="image"></mat-icon>
            </mat-card-title>
            File here ...
            <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
            <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                <div class="file" *ngFor="let file of draggedFiles">
                    {{file}}
                </div>
            </div>
            <div class="error" *ngIf="error">
                Only one file at time allow
            </div>

        </mat-card>

    </div>
</div>