<div class="p-3">
  <form (ngSubmit)="calculateTotal()"
        [formGroup]="timeForm"
        class="form-horizontal">
    <div *ngFor="let form of forms; let i=index" class="d-flex justify-content-center my-2 mx-2 ">
      <mat-form-field appearance="fill">
        <mat-label>{{form}}</mat-label>
        <input
          formControlName="{{form}}"
          matInput
          type="time">
      </mat-form-field>
    </div>
  </form>
  <div class="d-flex flex-column justify-content-center p-3 my-2 mx-2 ">
    <mat-hint *ngIf="extraPause===true" [ngStyle]="{'font-size': 70+'%','color': '#880808'}"
              class="justify-content-center">
      *extra pause
    </mat-hint>
    <button (click)="calculateTotal()"
            class="my-2 mx-2" color="primary"
            mat-raised-button>
      calculate
    </button>
  </div>
  <div *ngIf="progressSpinnerValue!==0" class="d-flex justify-content-center p-3 my-2 mx-2 mat-card">
    <mat-card>
      <mat-card-title>Feierabend:<br> {{feierabendDateString}}</mat-card-title>
      <mat-card-content>
        <div class="position-relative justify-content-center p-3">
          <mat-progress-spinner *ngIf="progressSpinnerValue!==0"
                                [color]="progressSpinnerColor"
                                [mode]="progressSpinnerMode"
                                [value]="progressSpinnerValue"
          >
          </mat-progress-spinner>
          <div class="justify-content-center position-absolute top-50 start-50 translate-middle"
          >{{remaining}}<br>left
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

